<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/desktop.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="sidebar">
            <div class="closeSidebarBottom"><i class="fa-solid fa-xmark" ></i></div>
            <ul class="sidebarItems">
                <li class="sidebarItem"><a href="index.html">Home</a></li>
                <li class="sidebarItem" id="sidebarItemDestinos">Destinos 
                    <ul class="sidebarSubItems">
                    <li class="sidebarSubItem"><a href="">Praia</a></li>
                    <li class="sidebarSubItem"><a href="">Montanha</a></li>
                    <li class="sidebarSubItem"><a href="">Cidades Históricas</a></li>
                    <li class="sidebarSubItem"><a href="">Lugares Alternativos</a></li>
                </ul></li>
                <li class="sidebarItem"><a href="">Sobre Nós</a></li>
                <li class="sidebarItem"><a href="">Dicas de Viagens</a></li>
                <li class="sidebarItem"><a href="">Fale Conosco</a></li>
                <li class="sidebarItem"><a href="">Galeria</a></li>
            </ul>
        </nav>
        <nav id="menu">
            <div class="sidebarBottom">
                <i class="fa-solid fa-bars" ></i>
            </div>
            <div class="logo">
                <img src="img/Sunset_Resort-removebg-preview.png" alt="imagem da logo do site">
            </div>
            <ul class="menuItems">
                <li class="menuItem"><a href="index.html">Home</a></li>
                <li class="menuItem">Destinos 
                    <ul class="menuSubItems">
                    <li class="menuSubItem"><a href="">Praia</a></li>
                    <li class="menuSubItem"><a href="">Montanha</a></li>
                    <li class="menuSubItem"><a href="">Cidades Históricas</a></li>
                    <li class="menuSubItem"><a href="">Lugares Alternativos</a></li>
                </ul></li>
                <li class="menuItem"><a href="">Sobre Nós</a></li>
                <li class="menuItem"><a href="">Dicas de Viagens</a></li>
                <li class="menuItem"><a href="">Fale Conosco</a></li>
                <li class="menuItem"><a href="">Galeria</a></li>
            </ul>
            <div class="searchContainer">
                <input type="text" name="search" id="search" placeholder="Destino">
                <button id="searchBottom"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </nav>
    </header>
</body>
</html>